/************************ Step Additional Driver*************************/
/************************************************************************/
#stepAddDriver{
  @extend .milky-background;
  .button-continue{
    @extend .button-continue;
  }
  .button-add{
    background: rgba(0,0,0,.3);
    color: #Ffffff;
    display: inline-block;
    height: 2.75em;
    line-height: 2.7em;
    padding: 0 1.5em 0 1.5em;
    border-radius: 4px;
    text-decoration: none;
    border: solid 1px ;
    font-weight: 600;
    /*hover off*/
    @include transition(all .2s);
  }
  .button-add:hover {
    @include transition(all .2s);
    background-color: rgba(0, 154, 28, .8);
    border: solid 1px rgba(0, 154, 28, .8);

  }
  .button-add-top{
    margin-top: 30px;
  }
  .btn-margin{
    margin-top: 50px;
    float: right;
  }
  .form-sm{
    width: 14%;
    float: left;
  }
  .form-md{
    width:34%;
    float:left;
  }
}
@media all and (max-width: 1199px) {
  #stepAddDriver{
    .form-md {
      width: 44%;
    }
  }
}
@media all and (max-width: 499px){
  #stepAddDriver{
    #firstNameLabel{
      display: none;
    }
    #lastNameLabel{
      display: none;
    }
    .form-sm{
      width:34%;
    }
    .form-md {
      width: 64%;
    }
  }
}
/************************ End Additional Driver *************************/
/************************************************************************/
