/*** start quote retrieve page ***/
#step-retrieve-quote{
  @extend .milky-background;
  .button-continue {
    @extend .button-continue;
  }
  margin-top: 147px;
  .btn-margin{
    float: right;
  }
  .retrieve-message{
    padding: 10px 0 0px 20px;
  }
}

@media all and (max-width: 800px) {
  #step-retrieve-quote{
    .btn-margin{
      float: inherit;
    }
    margin-top: 61px;
  }
}
/* end quote retrieve page*/
