<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'TX'" class="modal-body">

    <h5>What Is Bodily Injury Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, Bodily Injury will cover expenses for medical costs,
      lost wages, sickness, death related to the accident. This coverage also pays for pain and suffering that may
      result from the accident. It is part of the liability coverage portion of your policy.</p>

    <p>Your Bodily Injury coverage is displayed in the form of two numbers. The first dollar amount represents the
      coverage limit for any one person and the second dollar amount represents the total coverage limit for on
      accident. For example, you have $50,000 / $100,000 Bodily Injury coverage. You will have up to $50,000 in coverage
      for one person's injuries and up to $100,000 in total coverage for the accident. Your coverage limits,
      deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
    <h5>How Much Coverage Do I Need?</h5>

    <p>Individual states have different minimum requirements for liability insurance and for lease cars. In Texas the
      minimum is $30,000/$60,000. If you lease a car, your lease contract will typically require you to maintain minimum
      Bodily Injury Liability coverage of $100,000/$300,000. You should buy enough Bodily Injury Liability coverage to
      fully protect your assets.

    <p>
  </div>

  <div ng-if="page == 'IL'" class="modal-body">
    <h5>What Is Bodily Injury Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, Bodily Injury will cover expenses for medical costs,
      lost wages, sickness, death related to the accident. This coverage also pays for pain and suffering that may
      result from the accident. It is part of the liability coverage portion of your policy.</p>

    <p>Your Bodily Injury coverage is displayed in the form of two numbers. The first dollar amount represents the
      coverage limit for any one person and the second dollar amount represents the total coverage limit for on
      accident. For example, you have $50,000 / $100,000 Bodily Injury coverage. You will have up to $50,000 in coverage
      for one person's injuries and up to $100,000 in total coverage for the accident. Your coverage limits,
      deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>

    <h5>How Much Coverage Do I Need?</h5>

    <p>Individual states have different minimum requirements for liability insurance and for lease cars. In Illinois the
      minimum is $20,000/$40,000. If you lease a car, your lease contract will typically require you to maintain minimum
      Bodily Injury Liability coverage of $100,000/$300,000. You should buy enough Bodily Injury Liability coverage to
      fully protect your assets.

    <p>

  </div>
  <div ng-if="page == 'MD'" class="modal-body">
    <h5>What Is Bodily Injury Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, Bodily Injury will cover expenses for medical costs,
      lost wages, sickness, death related to the accident. This coverage also pays for pain and suffering that may
      result from the accident. It is part of the liability coverage portion of your policy.</p>

    <p>Your Bodily Injury coverage is displayed in the form of two numbers. The first dollar amount represents the
      coverage limit for any one person and the second dollar amount represents the total coverage limit for on
      accident. For example, you have $50,000 / $100,000 Bodily Injury coverage. You will have up to $50,000 in coverage
      for one person's injuries and up to $100,000 in total coverage for the accident. Your coverage limits,
      deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>

    <h5>How Much Coverage Do I Need?</h5>

    <p>Individual states have different minimum requirements for liability insurance and for lease cars. In Maryland the
      minimum is $30,000/$60,000. If you lease a car, your lease contract will typically require you to maintain minimum
      Bodily Injury Liability coverage of $100,000/$300,000. You should buy enough Bodily Injury Liability coverage to
      fully protect your assets.

    <p>
  </div>
  <div ng-if="page == 'VA'" class="modal-body">
    <h5>What Is Bodily Injury Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, Bodily Injury will cover expenses for medical costs,
      lost wages, sickness, death related to the accident. This coverage also pays for pain and suffering that may
      result from the accident. It is part of the liability coverage portion of your policy.</p>

    <p>Your Bodily Injury coverage is displayed in the form of two numbers. The first dollar amount represents the
      coverage limit for any one person and the second dollar amount represents the total coverage limit for on
      accident. For example, you have $50,000 / $100,000 Bodily Injury coverage. You will have up to $50,000 in coverage
      for one person's injuries and up to $100,000 in total coverage for the accident. Your coverage limits,
      deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>

    <h5>How Much Coverage Do I Need?</h5>

    <p>Individual states have different minimum requirements for liability insurance and for lease cars. In Virginia the
      minimum is $25,000/$50,000. If you lease a car, your lease contract will typically require you to maintain minimum
      Bodily Injury Liability coverage of $100,000/$300,000. You should buy enough Bodily Injury Liability coverage to
      fully protect your assets.

    <p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <h5>What Is Bodily Injury Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, Bodily Injury will cover expenses for medical costs,
      lost wages, sickness, death related to the accident. This coverage also pays for pain and suffering that may
      result from the accident. It is part of the liability coverage portion of your policy.</p>

    <p>Your Bodily Injury coverage is displayed in the form of two numbers. The first dollar amount represents the
      coverage limit for any one person and the second dollar amount represents the total coverage limit for on
      accident. For example, you have $50,000 / $100,000 Bodily Injury coverage. You will have up to $50,000 in coverage
      for one person's injuries and up to $100,000 in total coverage for the accident. Your coverage limits,
      deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>

    <h5>How Much Coverage Do I Need?</h5>

    <p>Individual states have different minimum requirements for liability insurance and for lease cars. In Tennessee the
      minimum is $25,000/$50,000. If you lease a car, your lease contract will typically require you to maintain minimum
      Bodily Injury Liability coverage of $100,000/$300,000. You should buy enough Bodily Injury Liability coverage to
      fully protect your assets.

    <p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <h5>What Is Bodily Injury Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, Bodily Injury will cover expenses for medical costs,
      lost wages, sickness, death related to the accident. This coverage also pays for pain and suffering that may
      result from the accident. It is part of the liability coverage portion of your policy.</p>

    <p>Your Bodily Injury coverage is displayed in the form of two numbers. The first dollar amount represents the
      coverage limit for any one person and the second dollar amount represents the total coverage limit for on
      accident. For example, you have $50,000 / $100,000 Bodily Injury coverage. You will have up to $50,000 in coverage
      for one person's injuries and up to $100,000 in total coverage for the accident. Your coverage limits,
      deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>

    <h5>How Much Coverage Do I Need?</h5>

    <p>Individual states have different minimum requirements for liability insurance and for lease cars. In Indiana the
      minimum is $25,000/$50,000. If you lease a car, your lease contract will typically require you to maintain minimum
      Bodily Injury Liability coverage of $100,000/$300,000. You should buy enough Bodily Injury Liability coverage to
      fully protect your assets.

    <p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
