<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'IL'" class="modal-body">
    <p>Collision provides physical damage coverage to an applicant's vehicle for damages caused by collision with
      another vehicle, object, etc. or upset. This coverage pays for damages regardless of fault. You must always select
      a deductible with this coverage. A variety of deductibles are available. In most cases a deductible must be met
      before this coverage applies. (A deductible is the amount of money you must pay out of your pocket after a loss
      before you can collect on your insurance coverage.) While this is an optional coverage, most auto lease and
      finance agreements require you to purchase this coverage to ensure the car will be repaired after a loss.</p>

    <p>Comprehensive coverage is required with this coverage.</p>

    <p>Collision coverage is an optional coverage. Losses are settled on a Actual Cash Value basis minus the deductible
      selected by the applicant.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <p>Collision provides physical damage coverage to an applicant's vehicle for damages caused by collision with
      another vehicle, object, etc. or upset. This coverage pays for damages regardless of fault. You must always select
      a deductible with this coverage. A variety of deductibles are available. In most cases a deductible must be met
      before this coverage applies. (A deductible is the amount of money you must pay out of your pocket after a loss
      before you can collect on your insurance coverage.) While this is an optional coverage, most auto lease and
      finance agreements require you to purchase this coverage to ensure the car will be repaired after a loss.</p>

    <p>Comprehensive coverage is required with this coverage.</p>

    <p>Collision coverage is an optional coverage. Losses are settled on a Actual Cash Value basis minus the deductible
      selected by the applicant.</p>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <p>Collision provides physical damage coverage to an applicant's vehicle for damages caused by collision with
      another vehicle, object, etc. or upset. This coverage pays for damages regardless of fault. You must always select
      a deductible with this coverage. A variety of deductibles are available. In most cases a deductible must be met
      before this coverage applies. (A deductible is the amount of money you must pay out of your pocket after a loss
      before you can collect on your insurance coverage.) While this is an optional coverage, most auto lease and
      finance agreements require you to purchase this coverage to ensure the car will be repaired after a loss.</p>

    <p>Comprehensive coverage is required with this coverage.</p>

    <p>Collision coverage is an optional coverage. Losses are settled on a Actual Cash Value basis minus the deductible
      selected by the applicant.</p>
  </div>

  <div ng-if="page == 'VA'" class="modal-body">
    <p>Collision provides physical damage coverage to an applicant's vehicle for damages caused by collision with
      another vehicle, object, etc. or upset. This coverage pays for damages regardless of fault. You must always select
      a deductible with this coverage. A variety of deductibles are available. In most cases a deductible must be met
      before this coverage applies. (A deductible is the amount of money you must pay out of your pocket after a loss
      before you can collect on your insurance coverage.) While this is an optional coverage, most auto lease and
      finance agreements require you to purchase this coverage to ensure the car will be repaired after a loss.</p>

    <p>Comprehensive coverage is required with this coverage.</p>

    <p>Collision coverage is an optional coverage. Losses are settled on a Actual Cash Value basis minus the deductible
      selected by the applicant.</p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <p>Collision provides physical damage coverage to an applicant's vehicle for damages caused by collision with
      another vehicle, object, etc. or upset. This coverage pays for damages regardless of fault. You must always select
      a deductible with this coverage. A variety of deductibles are available. In most cases a deductible must be met
      before this coverage applies. (A deductible is the amount of money you must pay out of your pocket after a loss
      before you can collect on your insurance coverage.) While this is an optional coverage, most auto lease and
      finance agreements require you to purchase this coverage to ensure the car will be repaired after a loss.</p>

    <p>Comprehensive coverage is required with this coverage.</p>

    <p>Collision coverage is an optional coverage. Losses are settled on a Actual Cash Value basis minus the deductible
      selected by the applicant.</p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <p>Collision provides physical damage coverage to an applicant's vehicle for damages caused by collision with
      another vehicle, object, etc. or upset. This coverage pays for damages regardless of fault. You must always select
      a deductible with this coverage. A variety of deductibles are available. In most cases a deductible must be met
      before this coverage applies. (A deductible is the amount of money you must pay out of your pocket after a loss
      before you can collect on your insurance coverage.) While this is an optional coverage, most auto lease and
      finance agreements require you to purchase this coverage to ensure the car will be repaired after a loss.</p>

    <p>Comprehensive coverage is required with this coverage.</p>

    <p>Collision coverage is an optional coverage. Losses are settled on a Actual Cash Value basis minus the deductible
      selected by the applicant.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
