<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <p>
      Subtract $100 from your collision deductible after each year without an accident. Your collision deductible
      decreases by $100 immediately and never resets, even if you have an accident. Collision deductibles can decrease a
      maximum of $500.</p>

    <p>To be eligible for Diminishing Deductible, all vehicles with collision coverage must have a deductible of $500 or
      more. Vehicles that have no collision coverage do not prevent eligibility on other vehicles. If Diminishing
      Deductible is selected on one vehicle it will be required on all eligible vehicles.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
