<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <p>
      It is a crime to knowingly provide false, incomplete or misleading information to
      an insurance company for the purpose of defrauding the company. Penalties
      may include imprisonment, fines or a denial of insurance benefits.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
