<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">

    <p>
      This option provides coverage for income loss resulting from bodily injury caused by an accident and arising out
      of the ownership, maintenance or use of a motor vehicle as a motor vehicle. Your coverage limits, deductibles, and
      certain exclusions may apply. Please read your Elephant Insurance Company policy for details.

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
