<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <h5>What is Loan/Lease Payoff?</h5>

    <p>Auto Loan/Lease Coverage protects you if your vehicle sustains a total loss. It will pay the difference between
      the balance owed and the actual cash value of the vehicle, subject to policy terms and conditions.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
  </div>

  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>

