<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'IL'" class="modal-body">
    <p>Comprehensive coverage provides physical damage coverage to an applicant's vehicle that suffers sudden damage,
      whether direct or accidental, from fire, theft, vandalism, storm damage, contact with animal or fowl, falling
      objects or glass breakage. Physical damage coverage is provided to an applicant's vehicle for damages other than
      collision. Comprehensive coverage is an optional coverage. Losses are settled on an Actual Cash Value basis minus
      the deductible that the applicant chose.</p>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <p>Comprehensive coverage provides physical damage coverage to an applicant's vehicle that suffers sudden damage,
      whether direct or accidental, from fire, theft, vandalism, storm damage, contact with animal or fowl, falling
      objects or glass breakage. Physical damage coverage is provided to an applicant's vehicle for damages other than
      collision. Comprehensive coverage is an optional coverage. Losses are settled on an Actual Cash Value basis minus
      the deductible that the applicant chose.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <p>Comprehensive coverage provides physical damage coverage to an applicant's vehicle that suffers sudden damage,
      whether direct or accidental, from fire, theft, vandalism, storm damage, contact with animal or fowl, falling
      objects or glass breakage. Physical damage coverage is provided to an applicant's vehicle for damages other than
      collision. Comprehensive coverage is an optional coverage. Losses are settled on an Actual Cash Value basis minus
      the deductible that the applicant chose.</p>
  </div>

  <div ng-if="page == 'VA'" class="modal-body">
    <p>Comprehensive coverage provides physical damage coverage to an applicant's vehicle that suffers sudden damage,
      whether direct or accidental, from fire, theft, vandalism, storm damage, contact with animal or fowl, falling
      objects or glass breakage. Physical damage coverage is provided to an applicant's vehicle for damages other than
      collision. Comprehensive coverage is an optional coverage. Losses are settled on an Actual Cash Value basis minus
      the deductible that the applicant chose.</p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <p>Comprehensive coverage provides physical damage coverage to an applicant's vehicle that suffers sudden damage,
      whether direct or accidental, from fire, theft, vandalism, storm damage, contact with animal or fowl, falling
      objects or glass breakage. Physical damage coverage is provided to an applicant's vehicle for damages other than
      collision. Comprehensive coverage is an optional coverage. Losses are settled on an Actual Cash Value basis minus
      the deductible that the applicant chose.</p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <p>Comprehensive coverage provides physical damage coverage to an applicant's vehicle that suffers sudden damage,
      whether direct or accidental, from fire, theft, vandalism, storm damage, contact with animal or fowl, falling
      objects or glass breakage. Physical damage coverage is provided to an applicant's vehicle for damages other than
      collision. Comprehensive coverage is an optional coverage. Losses are settled on an Actual Cash Value basis minus
      the deductible that the applicant chose.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
