<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <p>Personal Injury Protection ("PIP") coverage protects you and persons related to you and living in your home for
      injuries sustained in any motor vehicle accident, anyone injured while in your insured vehicle with your
      permission and pedestrians injured by your insured vehicle. PIP protects you while in your own or someone else's
      vehicle; however, there is no coverage if the car you are riding in is owned by you or a resident relative and it
      is not insured. It also protects you as a pedestrian or bicyclist if you suffer an injury in an accident involving
      a motor vehicle. Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant
      Insurance policy for details.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <p>Personal Injury Protection ("PIP") coverage protects you and persons related to you and living in your home for
      injuries sustained in any motor vehicle accident, anyone injured while in your insured vehicle with your
      permission and pedestrians injured by your insured vehicle. PIP protects you while in your own or someone else's
      vehicle; however, there is no coverage if the car you are riding in is owned by you or a resident relative and it
      is not insured. It also protects you as a pedestrian or bicyclist if you suffer an injury in an accident involving
      a motor vehicle. Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant
      Insurance policy for details.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
