<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'IL'" class="modal-body">
    <h5>What is Property Damage Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, you are covered for property damage of another
      individual that results from the accident. Damage to property also includes damage that you cause to public
      property such as sign posts, telephone poles and fences.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>

    <h5>How Much Coverage Do I Need</h5>

    <p>Individual states have different minimum requirements for Property Damage Liability insurance. In Illinois you
      are required to have a minimum of $15,000. If you lease a car, your lease contract will typically require you to
      maintain minimum Property Damage Liability Coverage of $50,000. You should buy enough Property Damage Liability
      coverage to adequately protect your assets.</p>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <h5>What is Property Damage Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, you are covered for property damage of another
      individual that results from the accident. Damage to property also includes damage that you cause to public
      property such as sign posts, telephone poles and fences.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>

    <h5>How Much Coverage Do I Need</h5>

    <p>Individual states have different minimum requirements for Property Damage Liability insurance. In Maryland you
      are required to have a minimum of $15,000. If you lease a car, your lease contract will typically require you to
      maintain minimum Property Damage Liability Coverage of $50,000. You should buy enough Property Damage Liability
      coverage to adequately protect your assets.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <h5>What is Property Damage Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, you are covered for property damage of another
      individual that results from the accident. Damage to property also includes damage that you cause to public
      property such as sign posts, telephone poles and fences.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>

    <h5>How Much Coverage Do I Need</h5>

    <p>Individual states have different minimum requirements for Property Damage Liability insurance. In Texas you are
      required to have a minimum of $15,000. If you lease a car, your lease contract will typically require you to
      maintain minimum Property Damage Liability Coverage of $50,000. You should buy enough Property Damage Liability
      coverage to adequately protect your assets.</p>
  </div>

  <div ng-if="page == 'VA'" class="modal-body">
    <h5>What is Property Damage Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, you are covered for property damage of another
      individual that results from the accident. Damage to property also includes damage that you cause to public
      property such as sign posts, telephone poles and fences.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>

    <h5>How Much Coverage Do I Need</h5>

    <p>Individual states have different minimum requirements for Property Damage Liability insurance. In Virginia you
      are required to have a minimum of $15,000. If you lease a car, your lease contract will typically require you to
      maintain minimum Property Damage Liability Coverage of $50,000. You should buy enough Property Damage Liability
      coverage to adequately protect your assets.</p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <h5>What is Property Damage Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, you are covered for property damage of another
      individual that results from the accident. Damage to property also includes damage that you cause to public
      property such as sign posts, telephone poles and fences.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>

    <h5>How Much Coverage Do I Need</h5>

    <p>Individual states have different minimum requirements for Property Damage Liability insurance. In Tennessee you
      are required to have a minimum of $15,000. If you lease a car, your lease contract will typically require you to
      maintain minimum Property Damage Liability Coverage of $50,000. You should buy enough Property Damage Liability
      coverage to adequately protect your assets.</p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <h5>What is Property Damage Liability?</h5>

    <p>In an accident where you / driver of your car are at fault, you are covered for property damage of another
      individual that results from the accident. Damage to property also includes damage that you cause to public
      property such as sign posts, telephone poles and fences.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>

    <h5>How Much Coverage Do I Need</h5>

    <p>Individual states have different minimum requirements for Property Damage Liability insurance. In Indiana you
      are required to have a minimum of $10,000. If you lease a car, your lease contract will typically require you to
      maintain minimum Property Damage Liability Coverage of $50,000. You should buy enough Property Damage Liability
      coverage to adequately protect your assets.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
