<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'IL'" class="modal-body">
    <h5>What Is Towing Coverage?</h5>

    <p>Towing and Labor Cost Coverage provides towing and necessary labor at the place of disablement when your vehicle
      is disabled.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <h5>What Is Towing Coverage?</h5>

    <p>Towing and Labor Cost Coverage provides towing and necessary labor at the place of disablement when your vehicle
      is disabled.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <h5>What Is Towing Coverage?</h5>

    <p>Towing and Labor Cost Coverage provides towing and necessary labor at the place of disablement when your vehicle
      is disabled.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <h5>What Is Towing Coverage?</h5>

    <p>Towing and Labor Cost Coverage provides towing and necessary labor at the place of disablement when your vehicle
      is disabled.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <h5>What Is Towing Coverage?</h5>

    <p>Towing and Labor Cost Coverage provides towing and necessary labor at the place of disablement when your vehicle
      is disabled.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>

