<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'IL'" class="modal-body">
    <h5>What Is Uninsured Motorist Property Damage?</h5>

    <p>Uninsured Motorist Property Damage pays for damage to your vehicle caused by an uninsured driver. If this
      coverage applies in an accident, you will be required to pay a $250 deductible. These coverages only apply if it
      is determined that the other driver is at fault and has no liability coverage. Your coverage limits, deductibles,
      and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <h5>What Is Uninsured Motorist Property Damage?</h5>

    <p>Uninsured Motorist Property Damage pays for damage to your vehicle caused by an uninsured driver or in many
      cases, a hit-and-run driver. If this coverage applies in an accident, you will be required to pay a $250
      deductible when the uninsured motorist cannot be identified. The company pays for additional costs covered under
      the policy.</p>

    <p>These coverages only apply if it is determined that the other driver is at fault and has insufficient or no
      liability coverage.</p>

    <p>Your coverage limits, deductibles, and certain exclusions may apply. Please read your Elephant Insurance Company
      policy for details.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <h5>What Is Uninsured Motorist Property Damage?</h5>

    <p>Uninsured Motorist Property Damage pays for damage to your vehicle caused by an uninsured driver. If this
      coverage applies in an accident, you will be required to pay a $250 deductible. These coverages only apply if it
      is determined that the other driver is at fault and has no liability coverage. Your coverage limits, deductibles,
      and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
  </div>

  <div ng-if="page == 'VA'" class="modal-body">
    <h5>What Is Uninsured Motorist Property Damage?</h5>

    <p>Uninsured Motorist Property Damage pays for damage to your vehicle caused by an uninsured driver. If this
      coverage applies in an accident, you will be required to pay a $250 deductible. These coverages only apply if it
      is determined that the other driver is at fault and has no liability coverage. Your coverage limits, deductibles,
      and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <h5>What Is Uninsured Motorist Property Damage?</h5>

    <p>Uninsured Motorist Property Damage pays for damage to your vehicle caused by an uninsured driver. If this
      coverage applies in an accident, you will be required to pay a $200 deductible. These coverages only apply if it
      is determined that the other driver is at fault and has no liability coverage. Your coverage limits, deductibles,
      and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <h5>What Is Uninsured Motorist Property Damage?</h5>

    <p>Uninsured Motorist Property Damage pays for damage to your vehicle caused by an uninsured driver. If this
      coverage applies in an accident, you may be required to pay a deductible based on your coverage election. These coverages only apply if it
      is determined that the other driver is at fault and has no liability coverage. Your coverage limits, deductibles,
      and certain exclusions may apply. Please read your Elephant Insurance Company policy for details.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
