<div>
  <div class="modal-header">
    <i class="fa fa-times" style="float: right;font-size: 1.5em;cursor:pointer;" ng-click="ok()"></i>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div ng-if="page == 'IL'" class="modal-body">
    <h5>What Is Uninsured Motorist Bodily Injury?</h5>

    <p>Uninsured Motorist Bodily Injury Coverage insures you and your passenger's bodily injury damages caused by an
      uninsured driver. This Coverage applies to damages such as medical bills, lost wages, and pain and suffering
      resulting from bodily injuries caused by an at-fault motorist who has insufficient or no liability coverage.</p>

    <p>Medical Payments coverage pays medical expenses, such as for surgery, x-rays, ambulance, hospital, and
      physicians, regardless of who is at fault within the terms of the coverage.</p>
  </div>

  <div ng-if="page == 'MD'" class="modal-body">
    <h5>What Is Uninsured Motorist Bodily Injury?</h5>

    <p>Uninsured Motorist Bodily Injury Coverage insures you and your passenger's bodily injury damages caused by an
      uninsured driver. This Coverage applies to damages such as medical bills, lost wages, and pain and suffering
      resulting from bodily injuries caused by an at-fault motorist who has insufficient or no liability coverage.</p>
  </div>

  <div ng-if="page == 'TX'" class="modal-body">
    <h5>What Is Uninsured Motorist Bodily Injury?</h5>

    <p>Uninsured Motorist Bodily Injury Coverage insures you and your passenger's bodily injury damages caused by an
      uninsured driver. This Coverage applies to damages such as medical bills, lost wages, and pain and suffering
      resulting from bodily injuries caused by an at-fault motorist who has insufficient or no liability coverage.</p>

    <p>Medical Payments coverage pays medical expenses, such as for surgery, x-rays, ambulance, hospital, and
      physicians, regardless of who is at fault within the terms of the coverage.</p>
  </div>

  <div ng-if="page == 'VA'" class="modal-body">
    <h5>What Is Uninsured Motorist Bodily Injury?</h5>

    <p>Uninsured Motorist Bodily Injury Coverage insures you and your passenger's bodily injury damages caused by an
      uninsured driver. This Coverage applies to damages such as medical bills, lost wages, and pain and suffering
      resulting from bodily injuries caused by an at-fault motorist who has insufficient or no liability coverage.</p>

    <p>Medical Payments coverage pays medical expenses, such as for surgery, x-rays, ambulance, hospital, and
      physicians, regardless of who is at fault within the terms of the coverage.</p>
  </div>

  <div ng-if="page == 'TN'" class="modal-body">
    <h5>What Is Uninsured Motorist Bodily Injury?</h5>

    <p>Uninsured Motorist Bodily Injury Coverage insures you and your passenger's bodily injury damages caused by an
      uninsured driver. This Coverage applies to damages such as medical bills, lost wages, and pain and suffering
      resulting from bodily injuries caused by an at-fault motorist who has insufficient or no liability coverage.</p>

    <p>Medical Payments coverage pays medical expenses, such as for surgery, x-rays, ambulance, hospital, and
      physicians, regardless of who is at fault within the terms of the coverage.</p>
  </div>

  <div ng-if="page == 'IN'" class="modal-body">
    <h5>What Is Uninsured Motorist Bodily Injury?</h5>

    <p>Uninsured Motorist Bodily Injury Coverage insures you and your passenger's bodily injury damages caused by an
      uninsured driver. This Coverage applies to damages such as medical bills, lost wages, and pain and suffering
      resulting from bodily injuries caused by an at-fault motorist who has insufficient or no liability coverage.</p>

    <p>Medical Payments coverage pays medical expenses, such as for surgery, x-rays, ambulance, hospital, and
      physicians, regardless of who is at fault within the terms of the coverage.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="ok()">close</button>
  </div>
</div>
