<div class="row">
  <div id="quote-termination"
       class="customer customer2 col-sm-12 col-md-offset-3 col-lg-offset-3 col-md-7 col-lg-5 margin animated fadeIn"
       refresh="">
    <div>
      <!-- HasActivePolicy -->
      <div ng-if="quoteTerminationSummary.errorId == 9031">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Call us to continue your quote </h3>
        <p>We see you already have a policy with Elephant. Thanks for being a loyal customer!
        If you’d like to update or change your policy or have received this message in error, please call us at 866-218-7865.</p>
      </div>
      <!-- Restrict Policyholder to specific LicenseStatus - Suspended -->
      <div ng-if="quoteTerminationSummary.errorId == 9030">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Call us to continue your quote </h3>
        <p> Unfortunately, we cannot process your online quote at this time. Due to your driver’s license
          status, we need to finish your quote over the phone. Please call {{quoteTerminationSummary.phoneData.quoteIssuePhone}}, an agent will be happy
          to assist you in completing your quote.</p>
      </div>
      <!-- Restrict Policyholder to specific LicenseStatus - All others -->
      <div ng-if="quoteTerminationSummary.errorId == 9040">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Thank you for your interest in Elephant Insurance. </h3>
        <p> Unfortunately, at this time your driver’s license status does not meet the qualifications for a
          policy with Elephant Insurance. Please call {{quoteTerminationSummary.phoneData.policy}} for further assistance.</p>
      </div>
      <!-- If any additional driver is unlicensed and answers “YES” to “Do they drive any of your vehicles twice a month or more?” the policy is ineligible -->
      <div ng-if="quoteTerminationSummary.errorId == 1234">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Thank you for your interest in Elephant Insurance. </h3>
        <p> Unfortunately, at this time a driver’s license on your quote does not meet the qualifications for a policy with Elephant Insurance.
          Please call {{quoteTerminationSummary.phoneData.policy}} for further assistance.</p>
      </div>
      <!-- Territory Restriction -->
      <div ng-if="quoteTerminationSummary.errorId == 9018">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Call us to complete your purchase </h3>
        <p>We cannot complete your purchase online at this time. Please call a sales representative at {{quoteTerminationSummary.phoneData.quoteIssuePhone}} to continue.</p>
      </div>
      <!-- Branded Vehicle -->
      <div ng-if="quoteTerminationSummary.errorId == 5024">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Thank you for your interest in Elephant Insurance.
        </h3>
        <p>Unfortunately, at this time the quoted vehicle does not meet the qualification for
          a policy with Elephant Insurance due to being declared a total loss. Please call {{quoteTerminationSummary.phoneData.policy}} for further assistance.</p>
      </div>
      <!-- 1011 - BadDebtsFlag, 1246 - IsUWPhotoReviewExist, 2222 - HasSR22, 2222 - HasFR44, 2222 - HasExcludedDriver  -->
      <div ng-if="quoteTerminationSummary.errorId == 1246 || quoteTerminationSummary.errorId == 1011 || quoteTerminationSummary.errorId == 2222">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Call us to complete your quote.</h3>
        <p>We cannot complete your quote online at this time. Please contact a sales representative
          at {{quoteTerminationSummary.phoneData.sales}} if you wish to continue</p>
      </div>
      <!-- 1348 - MaterialMisrep, 4018 Incident Violations -->
      <div ng-if="quoteTerminationSummary.errorId == 1348 || quoteTerminationSummary.errorId == 4018 || quoteTerminationSummary.errorId == 0">
        <h3 class="section-header"><i class="fa fa-tag fa-fw"></i> Thank you for your interest in Elephant Insurance.
        </h3>

        <div style="font-size: .9em;">
          <p id="discount-message">
            Every insurer determines its own criteria regarding which potential policyholders to insure.
            <strong>Unfortunately, based upon the information you supplied we are not able to offer you a quote at this
              time because
              of the following:</strong>

          <ul>
            <li>The information you have provided does not meet our minimum underwriting standards.</li>
          </ul>

          </p>
        </div>
        <div class="span12" ng-switch on="quoteTerminationSummary.state" style="font-size: .9em;">
          <div ng-if="quoteTerminationSummary.state == 'VA' || quoteTerminationSummary.state == 'IL'">
            <p>You have the right to receive the specific reason(s) for this decision upon written request to us made
              within 90 days of the date of this notification. You also have a right to be made aware of the name
              and addresses of the sources upon which this decision was made so you have the opportunity to
              correct, amend, or delete any information that we may have. Please refer to our Privacy Policy for
              more information. </p>
          </div>
          <div ng-if="quoteTerminationSummary.state == 'VA'">
            <p>You may be able to obtain insurance through another company. However, should you have difficulty
              in obtaining insurance, the Virginia Automobile Insurance Plan may be able to help you. Since all
              companies in your state participate in this Plan, any licensed agent or broker can provide you with
              more information.</p>
          </div>
          <div ng-if="quoteTerminationSummary.state == 'MD'">
            <p>You may be able to obtain insurance through another company. However, should you have difficulty
              in obtaining insurance, the Maryland Automobile Insurance Fund (MAIF) may be able to help
              you. Please contact your agent or broker for more information or contact the MAIF directly at the
              contact information below:

              1750 Forest Drive
              Annapolis, Maryland 21401
              (410) 269-1680
              www.MAIF.net
            </p>
          </div>
          <div ng-if="quoteTerminationSummary.state == 'IL'">
            <p>Pursuant to the provisions of section 143.20 of the Illinois insurance code, we are required to notify
              you that you may be eligible for automobile insurance under the Illinois insurance plan. </p>
          </div>
        </div>
        <div class="button-continue btn-margin">
          <button id="btnContinue" ng-click="launchAd()">
            Additional providers
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
