<div id="mobileMenu" mobile-nav-summary="" class="hidden-lg"></div>
<div bread-crumbs class="row"></div>
<div class="row">
  <div id="step-Driver-Assignment"
       class="customer customer2 col-sm-12 col-md-offset-3 col-lg-offset-3 col-md-7 col-lg-5 margin animated fadeIn"
       refresh="" error-scroll="">
    <h3 class="section-header"><i class="fa fa-car fa-fw"></i> Vehicles</h3>

    <form name="driverAssignmentForm" novalidate>
      <div>
        <small class="help-block">Select which car each driver operates most.</small>
      </div>

      <div class="row-fluid">
        <div class="form-group" ng-repeat="driver in driverAssignmentCtrlState.assignDriverVehiclesList"
             ng-form="assignmentForm">

          <label class="control-label form-left">{{driver.Name}}</label>

          <div ng-messages="assignmentForm.driverAssignment.$error" ng-if="driverAssignmentCtrlState.formSubmitted">
            <div ng-message="required">primary driver is required</div>
          </div>
          <select class="form-control form-right" id="driver-{{driver.HankIdField}}" ng-model="driver.PrimaryVehicleID" name="driverAssignment"
                  ng-options="vehicle.ID as vehicle.Year + ' ' + vehicle.Make + ' ' + vehicle.Model for vehicle in driverAssignmentCtrlState.vehicles"
                  required>
            <option value="">Select</option>
          </select>
        </div>
      </div>
      <div class="button-continue btn-margin">
        <button id="btnContinue" ng-click="saveDriverAssignment(driverAssignmentForm.$valid)">
          Continue
        </button>
      </div>
    </form>
  </div>
  <div id="navSummary" nav-summary="" class="visible-lg"></div>
</div>
