<div id="ancillary-overview">
    <h1>Congratulations, your payment was successful!</h1><br />
    <div id="promo-image">
        <img src="/Content/images/traffic-stop.jpg" alt="image of a car passenger sideview mirror with the reflection of a police car..." />
    </div>

    <div id="promo-text">
        <h2>Did you know that 41 million Americans get a speeding ticket each year?</h2><br />
        <p>Sign up for Elephant's Legal Protection Plan to receive 100% legal coverage for you and the drivers on your auto policy.*</p><br />

        <span>For just $5 per month**, members of Elephant's Legal Protection Plan...</span>
        <ul>
            <li>Pay no attorney fees for traffic violations*</li>
            <li>Receive a 25% discount on common legal services like wills</li>
            <li>Have access to a nationwide network of top rated lawyers</li>
        </ul><br />

        <p>You must sign up today to receive this unique benefit.</p>
        <p>Don't miss your chance to enroll!</p><br />

        <button id="btnSignUp" class="btnOrange">Sign Up</button>
        <a id="btnLearn" href="http://www.pachyderm.com/car-insurance/legal-protection" target="_blank">Want to learn more?</a><br />
        <a id="btnCancel">No thanks.</a>

    </div>

    <div id="promo-note">
        <p>
            *100% attorney fee coverage in connection with representation before the District Court in the Member's state of residence for infractions and misdemeanor traffic
            offenses for Member with a valid driver's license not subject to restriction or suspension at the time of the offense. Limited to one District Court appearance per
            plan year. Alcohol or controlled substance related traffic offenses are provided at a 25% attorney fee discount. Any traffic violation received prior to Member's
            effective date of Plan will be covered at a 25% discount.
        </p><br />
        <p>
            **Fee is per insured driver on auto policy. To qualify, an individual Legal Protection Plan must be purchased for all drivers.
        </p><br/>
        <p>
            Terms and Conditions: This legal plan is provided by Legal Resources of Virginia, Inc., to Elephant policy holders residing in Virginia and Maryland. Member must use a Legal Resources plan
            attorney to receive plan benefits. Member responsible for all non-attorney costs such as filing fees, court costs, fines assessed, etc. Please refer to the plan contract for
            actual terms, coverage, conditions, and exclusions. <b>Any communication with attorney regarding representation is confidential. The attorney-client relationship begins
            when attorney is retained.</b>
        </p>
    </div>
</div>
